<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.01" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.01" targetFramework="net40" />
  <package id="FakeItEasy" version="1.13.1" targetFramework="net40" />
  <package id="Mercurial.Net" version="1.1.1.607" targetFramework="net40" />
  <package id="MSTestExtensions" version="3.0.0" targetFramework="net40" />
</packages>